@import 'reset.css';
* {
  border: cyan 1px solid;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: #fdf9d0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', cursive;
  color: #fdf9d0;
}
p,
input,
label,
textarea,
div,
li,
a {
  font-size: 10px;
  font-size: 1rem;
  font-family: 'Ubuntu', sans-serif;
  color: #eea94f;
  border: lightgoldenrodyellow 1px solid;
}
h1 {
  font-size: 80px;
  font-size: 8rem;
}
h2 {
  font-size: 50px;
  font-size: 5rem;
  font-weight: 100;
  color: #f3d369;
}
h3 {
  font-size: 30px;
  font-size: 3rem;
}
h4 {
  font-size: 10px;
  font-size: 1rem;
}
h5 {
  font-size: 8px;
  font-size: 0.8rem;
}
h6 {
  font-size: 7px;
  font-size: 0.7rem;
}
#conteneurPrinc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
#conteneurPrinc header {
  flex: 1 0 content;
  padding: 1rem;
  background-color: #cf4154;
  display: flex;
}
#conteneurPrinc header #groupeEntete {
  flex: 1 1 60%;
}
#conteneurPrinc header nav {
  flex: 1 0 40%;
  display: flex;
}
#conteneurPrinc header nav ul {
  flex: 1 0 100%;
  border: teal 2px solid;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
#conteneurPrinc header nav ul li a {
  font-size: 20px;
  font-size: 2rem;
  text-decoration: none;
}
#conteneurPrinc main {
  flex: 1 1 auto;
}
#conteneurPrinc footer {
  flex: 1 0 content;
  min-height: 10vh;
  padding: 1rem;
  background-color: #fdf9d0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#conteneurPrinc footer p {
  color: #240016;
}
