@import 'normalize.css';
body {
  font-family: 'Ubuntu', sans-serif;
  color: #a4a8c2;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
nav {
  display: flex;
  flex-direction: row;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  color: #a4a8c2;
}
nav ul li a {
  text-decoration: none;
  color: #064cb4;
}
nav ul li a:hover {
  color: #a8dfff;
}
header {
  background-color: #003858;
  min-height: 15vh;
}
main {
  flex: 1 0 auto;
  background-color: #a4a8c2;
}
footer {
  background-color: #003858;
  min-height: 15vh;
}
