@import 'normalize.css';
body {
  font-family: 'Ubuntu', sans-serif;
  color: #a4a8c2;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex: 0 1 auto;
  background-color: #003858;
  display: flex;
  align-items: center;
  min-height: 15vh;
}
nav {
  flex: 1 0 auto;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  color: #a4a8c2;
}
nav ul li a {
  text-decoration: none;
  color: #064cb4;
  font-size: 2em;
}
nav ul li a:hover {
  color: #a8dfff;
}
main {
  display: flex;
  flex: 1 0 auto;
  background-color: #a4a8c2;
}
main #principal {
  flex: 1 0 auto;
  min-width: 50vw;
}
main aside {
  background-color: white;
  flex: 0 1 20vw;
  border: solid #003858 2px;
}
footer {
  background-color: #003858;
  min-height: 15vh;
}
