<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Site exploratoire du cours de veille technologique" />
    <meta name="author" content="Maxime Lacasse Germain" />
    <meta name="copyright" content="Lacasse Germain " />
    <meta name="robots" content="none">
    <link href="https://fonts.googleapis.com/css?family=Oswald:100,200,400,800|Ubuntu|Anton" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="/css/stylesV2.css">

    <title>Projet de Veille Node.js</title>
</head>