<header>
    <div id="groupeEntete">
        <h1><a href='/'></a>TRI</h1>
        <h2>
            <%= __('titreSite') %>
        </h2>
    </div>
    <div class="navConteneur">
        <nav class="localisation">
            <% if(getLocale()=='en'){ %>
                <a href="/fr">FR</a>
            <% }else{ %>
                <a href="/en">EN</a>
            <% }%>
        </nav>
        <nav class="princ">
            <ul>
                <li>
                    <a href="/liste">
                        <%= __('navListe') %>
                    </a>
                </li>
                <li>
                    <a href="/peuplement">
                        <%= __('navPeupler') %>
                    </a>
                </li>
                <li>
                    <a href="/effacer-liste">
                        <%= __('navVider') %>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</header>