<nav>
    <ul>
        <li>
            <a href="/membres">Liste des membres</a>
        </li>
        <li>
            <a href="/formulaire">Modifier un membre</a>
        </li>
        <li>
            <a href="#">MongoDB</a>
        </li>
        <li>
            <a href="#">Socket</a>
        </li>
    </ul>
</nav>