<header>
    <div id="groupeEntete">
        <h1>TRI</h1>
        <h2>Gestionnaire d'utilisateurs</h2>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/membres">Liste des membres</a>
            </li>
            <li>
                <a href="/formulaire">Ajouter un membre</a>
            </li>
        </ul>
    </nav>
</header>