<header>
    <div id="groupeEntete">
        <h1>TRI</h1>
        <h2>Gestionnaire d'utilisateurs</h2>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Liste des membres</a>
            </li>
            <li>
                <a href="/peuplement">Peupler la liste</a>
            </li>
            <li>
                <a href="/effacer-liste">Vider la liste</a>
            </li>
        </ul>
    </nav>
</header>