@import 'reset.css';
*{border:cyan 1px solid}
@coulBase :#fdf9d0;
@coulAccent1: #f3d369;
@coulAccent2: #f38e54;
@coulAccent3: #cf4154;
@coulAccent4: #52346b;

@coulTxtBase: #756d61;
@coulTxtAcc1: #eea94f;
@coulTxtAcc2: #8b2800;
@coulTxtAcc3: #440000;
@coulTxtAcc4: #240016;

@fontBase: 'Ubuntu',sans-serif;
@fontAccent: 'Oswald',cursive;

.tailleFont(@taille){
    @remVal : @taille;
    @pxVal:(@taille * 10);
    font-size: ~"@{pxVal}px";
    font-size: ~"@{remVal}rem";
}

//Gestion de la typographie
html{
    font-size: 62.5%;
    color: @coulBase;
}

h1,h2,h3,h4,h5,h6{
    font-family: @fontAccent;
    color: @coulBase;
}

p, input, label, textarea, div, li, a, small{
    font-family: @fontBase;
    color: @coulTxtAcc1;
}
h1{.tailleFont(8);}
h2{.tailleFont(5);font-weight: 100;color: @coulAccent1;}
h3{.tailleFont(3)}
h4{.tailleFont(1)}
h5{.tailleFont(0.8)}
h6{.tailleFont(0.7)}

//Mise en page des sections
//===========================================
#conteneurPrinc{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & header{
        display: flex;
        background-color: @coulAccent3;
        
    }
    & main {
        flex: 1 0 auto;
    }
    & footer{
        display: flex;
        background-color: @coulAccent4;
    }
}