@couleurBase : #a4a8c2;
@couleurAccent : #003858;
@fontBase:'Ubuntu', sans-serif;

body{
    font-family: @fontBase;
}

header{
    background-color: @couleurAccent;
}
main{
    background-color: @couleurBase;
}

footer{
    background-color: @couleurAccent;
}