
<% include partials/head %>
<body>
    <div id="conteneurPrinc">
        <header>
            <div id="groupeEntete">
                <h1>TRI</h1>
                <h2>Gestionnaire d'utilisateurs</h2>
            </div>
            <% include partials/nav %>
        </header>
        <main>
           <h1>404, oups désolé</h1>
        </main>
  <% include partials/footer %>
    </div>
</body>

</html>