
<% include partials/head %>
<body>
    <div id="conteneurPrinc">
            <% include partials/nav %>
        <main>
           <h1>404, oups désolé</h1>
        </main>
  <% include partials/footer %>
    </div>
</body>

</html>