<% include partials/head %>
<body>
    <div id="conteneurPrinc">
            <% include partials/nav %>
        <main>
            <section class="formulaire">
                <h1>Ajout d'un membre</h1>
                <form action="/ajouterMembre" method="POST">
                    <label for="prenom">Prénom</label><input type="text" name="prenom" value="" placeholder="Votre prénom" required>
                    <label for="nom">Nom</label><input type="text" name="nom" value="" placeholder="Votre nom" required>
                    <label for="tel">Téléphone</label><input type="phone" name="tel" value="" placeholder="Votre numéro de téléphone" required>
                    <label for="courriel">Courriel</label><input type="email" name="courriel" value="" placeholder="Votre courriel" required>
                    <input type="submit" value="Envoyer">
                </form>
            </section>
        </main>
        <% include partials/footer %>
    </div>
</body>

</html>