<% include partials/head %>

    <body>
        <div id="conteneurPrinc">

            <% include partials/nav %>

                <main>
                    <section id="chat">
                        <h3><%=__('listeUtilConnectes')%></h3>
                        <ul class="listeChat">
                            <li class="membreChat gabarit">Nom</li>
                        </ul>
                    </section>
                    <aside>
                        <div class="btnConnexionConteneur">
                            <h3><%=__('ConnexionAuChat')%></h3>
                            <input type="text" class="nomChat">
                            <button onclick="connexionChat()">
                                <i class="fas fa-power-off"></i>
                            </button>
                        </div>
                        <div class="btnDeconnexionConteneur">
                            <span class="utilisateur"></span>
                            <button onclick="deconnexionChat()">
                                <i class="fas fa-power-off"></i>
                            </button>
                        </div>
                        <form class="formChat" action="#">
                            <p class="chatLabel"><%=__('Conversation')%></p>
                            <div class="chatBoiteRep">
                                <div class="chatRep auteur gabarit">
                                    <p class="auteur">Max</p>
                                    <p class="msg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, quam rerum provident
                                        doloremque temporibus quae! Saepe sunt sint iste voluptatum harum laborum mollitia
                                        sit? Soluta, ut veritatis? Assumenda, praesentium facilis?</p>
                                </div>
                                <div class="chatRep ami gabarit">
                                    <p class="ami">Max</p>
                                    <p class="msg">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, quam rerum provident
                                        doloremque temporibus quae! Saepe sunt sint iste voluptatum harum laborum mollitia
                                        sit? Soluta, ut veritatis? Assumenda, praesentium facilis?</p>
                                </div>
                            </div>
                            <input type="text" name="chatBoiteMessage" class="chatBoiteMsg">
                            <div class="btnGroupe">
                                <input type="button" name="chatPoke" class="chatPoke" value="Poke">
                                <input type="button" class="chatBtnEnvoyer" value="<%=__('Envoyer')%>" onclick="envoyerMsg()">
                            </div>
                        </form>
                    </aside>
                </main>
                <% include partials/footer %>
        </div>
        <script src="socket.io/socket.io.js"></script>
        <script src="/js/chat.js"></script>
    </body>

    </html>