<% include partials/head %>

    <body>
        <div id="conteneurPrinc">

            <% include partials/nav %>

                <main>
                    <section id="principale" class="listeMembre">
                        <table>
                            <thead>
                                <tr>
                                    <td>Les membres</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Téléphone</th>
                                    <th>Courriel</th>
                                </tr>
                                <% for(let elem of data){ %>

                                    <tr>
                                        <td contenteditable="true">
                                            <%= elem.prenom %>
                                        </td>
                                        <td>
                                            <%= elem.nom %>
                                        </td>
                                        <td>
                                            <%= elem.tel %>
                                        </td>
                                        <td>
                                            <%= elem.courriel %>
                                        </td>
                                    </tr>
                                    <% }; %>
                            </tbody>
                        </table>
                    </section>
                </main>
                <% include partials/footer %>
        </div>
        <script src="js/listeMembres.js"></script>
    </body>

    </html>