<% include partials/head %>

    <body>
        <div id="conteneurPrinc">
            <% include partials/nav %>
                <main>
                    <section id="profil" class="profilMembre">
                        <aside>
                            <img src="/medias/img/avatar.png" alt="avatar">
                        </aside>
                        <div>
                            <h1>Profil</h1>
                            <div class="prenom">
                                <h2>Prénom</h2>
                                <h3>
                                    <%= membreInfos.prenom%>
                                </h3>
                            </div>
                            <div class="nom">
                                <h2>Nom</h2>
                                <h3>
                                    <%= membreInfos.nom%>
                                </h3>
                            </div>
                            <div class="tel">
                                <h2>Téléphone</h2>
                                <h3>
                                    <%= membreInfos.tel%>
                                </h3>
                            </div>
                            <div class="courriel">
                                <h2>Courriel</h2>
                                <h3>
                                    <%= membreInfos.courriel%>
                                </h3>
                            </div>
                            <h2>
                                <a href="/">Retour à la liste</a>
                            </h2>
                        </div>
                    </section>
                </main>

                <% include partials/footer %>
        </div>
    </body>

    </html>